---
title: Honeypot
---
{% include showcase.html %}
{% include greeting.html %}

{% if site.posts != empty %}
<div class="recent-posts">
  <h1>Recent Posts</h1>
  {% for post in site.posts limit: 3 %}
    {% if forloop.first %}
      {% assign add_class = 'most-recent' %}
      {% capture fresh_tag %}
        &nbsp;<span class="badge"><smaller>New Post</smaller></span>
      {% endcapture %}
    {% endif %}
    <ul class="homepage-posts {{ add_class }}">
      <li>
        <span>
          <h4>
            <a href="{{ site.url }}{{ post.url }}">
              {{ post.title }}
            </a>
            {{ fresh_tag }}
            <time class="pull-right">
              {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
            </time>
          </h4>
        </span>
      </li>
    </ul>
    {% assign add_class = '' %}
    {% assign fresh_tag = '' %}
  {% endfor %}
  <ul>
    <a href="{{ site.url }}/list.html">View More...</a>
  </ul>
</div>
<header class="site-category">
  <ul>
    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "category" %}
          <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
          href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}   
</ul>
</header>
{% endif %}
